
<div class="moon-container">
    <div  
    data-aos="fade-up" 
    data-aos-easing="linear"
    data-aos-duration="1000"
    class="bg">
    </div>
    <div>
        <div 
        data-aos="fade-right" 
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="moon-card moon-card--design">
            <h3>Beautiful design</h3>
            <div>
                Our experienced design team have a deep understanding of what makes a great user experience. Their designs are always visually appealing, intuitive to use, and optimized for both desktop and mobile devices.
            </div>
            <button class="btn btn-primary btn-moon mt-4">Previous projects</button>
        </div>
        <div 
        data-aos="fade-left" 
        data-aos-easing="linear"
        data-aos-duration="1500"
        class="moon-card moon-card--rapid">
            <h3>Rapid results</h3>
            <div>
                We excel in delivering fast and efficient results for web design projects of all sizes. With a focus on speed and attention to detail, we consistently deliver projects ahead of schedule without sacrificing quality.
            </div>
            <button class="btn btn-primary btn-moon mt-4">Products and pricing</button>
        </div>
    </div>
</div>


