.nav {
    padding: 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color: black !important;
}

.nav-heading {
    font-size: xx-large;
}

.nav-links {
    display: flex;
    flex-direction: row;
}

.nav-links--internal {
    border-right: 1px solid grey;
}