<nav class="navbar nav navbar-dark bg-dark">
    <a class="navbar-brand ms-4" href="#">
        <div class="nav-heading">
            Soldham
        </div>
    </a>
    <div class="navbar-nav  nav-links">
        <div class="nav-links nav-links--internal me-4">
            <a class="nav-item nav-link me-4 active" href="#">Home</a>
            <a class="nav-item nav-link me-4" href="#">Services</a>
            <a class="nav-item nav-link me-4" href="#">Pricing</a>
        </div>
        <div class=" nav-links">
            <a class="nav-item nav-link me-4" href="#"><i class="fa-brands fa-github fa-lg"></i></a>
            <a class="nav-item nav-link me-4" href="#"><i class="fa-brands fa-linkedin fa-lg"></i></a>
        </div>
    </div>
</nav>